@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*General Settings*/


header {
    padding: 20px 30px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #ffff;
}
.leftSideHeader {
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leftSideHeader h1 {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    z-index: 10000;

}
.leftSideHeader span {
    background: linear-gradient(to right, #140e22, #5159e2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 10000;
}
.NavbarLink__Wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 1.2rem;
}
.NavbarLink__Wrapper> li {
    cursor: pointer;
    font-family: "Poppins", sans-serif;

   
}
.NavbarLink__Wrapper li:hover {
    color: rgb(81, 89, 226);
    border-bottom: 1px solid rgb(81, 89, 226);
    padding-bottom: 5px;
}
.Navbar__SignUpButton  , .Hero__JoinButton  {
    background-color: rgb(81, 89, 226);
    color: white; 
}
.Navbar__SignInButton  , .Hero__SignInButton ,.HabitTips button {
    background-color: #fff;

}

.Hero__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}
.Hero__Heading {
    text-align: center;
}
.Hero__Heading p {
    font-size: clamp(0.875rem, 2.5vw, 1.4rem);

    font-family: "Inter", sans-serif;
    font-style: normal;
    padding-bottom: 20px;
}
.Hero__Image > img {
    height: auto;
    width: 100%;
    max-width: 850px;
    border-radius: 15px;
}
.Hero__Image>img , .HabitTips img {
    object-fit: cover;

}
.Features__detail {
    text-align: center;
    margin-top: 50px;
}
.HamburgerMenu {
    display: none;
    background-color: #fff;
    border: none;
}
.Features__elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px 20px;

}
.Feature__element {
    border: 1px solid rgb(139, 144, 247);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.Feature__element h3 , .HabitTips h3{
    font-size: clamp(1.1rem, 3vw, 1.4rem);
    font-family: "Playfair Display", serif;
    padding: 10px 0px;
    letter-spacing: 3px;
}
.Feature__element p , .HabitTips p {
    font-size: clamp(0.875rem, 2.5vw, 1rem);
    color: rgb(97, 96, 96);
    font-family: serif;
}
.HabitTips__section {
    margin-top: 50px;
    
}
.HabitTips__section> h2 {
    text-align: center;
  
}
.HabitTips {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px 20px;
}
.HabitTips article {
    border: 1px solid rgb(139, 144, 247);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.HabitTips  article:hover , .Feature__element:hover {
    transform: scale(1.03); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.1); 
    z-index: 1; 
}
.HabitTips img {
    width: 100%;       
    max-width: 400px;  
    height: auto;      
    border-radius: 15px;
    object-fit: cover; 
    display: block;
}
.HabitTips button {
    width: 100%;
    margin-top: 10px;
}

.Cta {
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Cta__Content {
    background-color: #FAFAFB;    
    max-width: 80%;
    height: auto;
    padding: 70px;
    z-index: 1;
    text-align: center;

}
.Cta__Content h3 {
    font-size: clamp(1.1rem, 3vw, 1.7rem);
    font-family: "Poppins", serif;
    color: #5159e2;
    padding-bottom: 10px;
}
.Cta__Content p {
    font-size: clamp(0.875rem, 2.5vw, 1rem);
    font-family: "Inter" sans-serif;
    padding-bottom: 30px;
}
.Cta__Content button{
    background-color: #5159e2;
    color: #fff;
    transition:  box-shadow 0.5s ease;
}
.Cta__Content button:hover {
    box-shadow: -8px 7px 38px 0px #5159e2;

}

footer {
    width: 100%;
    height: auto;
    background-color: #1D2128;
    color: #fff;
    padding: 30px;
}
.Footer__subscription {
    text-align: center;
    padding: 40px;
}
.Subcription__Input  {
    padding-top: 20px;
}
.Subcription__Input input {
    padding: 9px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}
.Subcription__Input button {
    padding: 6px 20px;
    border-color: #fff;
    background-color: rgb(81, 89, 226);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: -4px;
}
.Footer__Bottom {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px ;
    border-bottom: 1px solid #fff;
}
.Footer__Bottom nav ul {
    display: flex;
    gap: 20px;
    padding-right: 20px;
}
.Footer__Bottom h1 {
    background: linear-gradient(to right, #fff, #5159e2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 20px;
}
footer p {
    text-align: center;
    padding: 20px;
}

@media (max-width: 992px) {
    .NavbarLink__Wrapper {
      display: flex;
      flex-direction: column;
      position: absolute;
      justify-content: center;
      top: 0;
      right: 0;
      background-color: #fafafbd5;
      height: 100vh;
      backdrop-filter: blur(7px);
      width: 50%;
      margin-right: -100%;
      transition :  margin-right 0.7s ease;
    }
    .mobile-menu {
        margin-right: 0;
        
    }
    
    .NavbarLink__Wrapper li {
        width: 100%;
        padding: 10px 0;
        border: 1px solid #fff;
        text-align: center;
    }
    .Navbar__Butons {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 80%;
    }
    .HamburgerMenu {
        display: block;
        z-index: 22222;
    }
   
  }
  @media (max-width : 768px) {
    .Hero__Image > img {
        border-radius: 0;
    }
    .Cta {
        padding: 20px  0px;
    }
    .Cta__Content {
        width: 100%;
        padding: 20px;

    }
    .Footer__Bottom{
        display: flex;
        flex-direction: column;     
    }
    .Footer__subscription{
        padding: 20px;
    }
    footer {
        padding: 0px;
    }
  }
 @media (max-width : 390px) {
    .Subcription__Input button {
        border-radius: 10px;
        width: 100%;
        margin-top: 10px;
    }
    
    .Subcription__Input input {
        width: 100%;
        border-radius: 10px;
    }
 }
 @media (max-width : 628px) {
    .NavbarLink__Wrapper {
        width: 100%;
    }
 }